@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #14161b;
  }
}


.slick-slide > div {
  margin: 0 10px; 
}

.slider-container .slick-prev:before,
.slider-container .slick-next:before {
  color:#c084fc;
}
